
/* <!-- */
/* General styles */
html,
body {
    height:100%;
    font-size:12px;
    width:100%;
    overflow: hidden;
}

html {
    display:table;
}

body {

    padding: 0;
    margin: 0;
    background-color: #000;
    background-image:linear-gradient(center, #003810 0%, #00290E 51%);
    background-image:-webkit-linear-gradient(center, #003810 0%, #00290E 51%);
    background-image:-ms-linear-gradient(center, #003810 0%, #00290E 51%);
    background-image:-webkit-gradient(
        linear,
        left center,
        left center,
        color-stop(0, #003810),
        color-stop(0.51, #00290E)
    );
    display: inline-block;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;

}

img{border:0px;}

/* Header styles */
.header ul {

    clear:left;
    float:left;
    width:100%;
    list-style:none;
    margin:10px 0 0 0;
    padding:0;

}
.header ul li {

    display:inline;
    list-style:none;
    padding:0;

}
.header ul li a {

    display:block;
    float:left;
    margin:0 0 0 1px;
    padding:3px 10px;
    text-align:center;
    text-decoration:none;
    position:relative;

}
header a, header a:hover, header a:visited{

    color: white;
    text-decoration: none;

}

/* main container */
.app {
    position:relative;	/* This fixes the IE7 overflow hidden bug */
    clear:both;
    float:left;
    width:300%;			/* width of whole page */
    height: 100%;
    overflow:hidden;		/* This chops off any overhanging divs */
    text-align: center;

}
/* app container settings */
.app section {
    float:left;
    position:relative;
    height: 100%;
    margin: 0;
    background-position:center top;
    width: 33.33%;
}

/* App Main Screens */
.gray-background{

    /* Safari 5.1, Chrome 10+ */
    background: -webkit-linear-gradient(top, #d2d4d5, #f1f2f2);
    /* Firefox 3.6+ */
    background: -moz-linear-gradient(top, #d2d4d5, #f1f2f2);
    /* IE 10 */
    background: -ms-linear-gradient(top, #d2d4d5, #f1f2f2);

}

.centered-vertical{

    position: absolute;
    top: 50%;
    left: 50%;
    height: 30%;
    width: 50%;
    margin: -15% 0 0 -25%;

}

/* App Main Section Screens */
.welcomeText {

    font-size: 3.3em;
    margin: 0;

}

/* App Main Sections size */
.section-mainIcon{

    margin: 10px auto 0 auto;
    height: 106px;
    width: 106px;

    /* Radius needed to render properly the shadow */
    border-radius: 150px;
    -webkit-border-radius: 150px;
    -moz-border-radius: 150px;

    text-indent: -5000px;
}

/* Create Icon */
.create-start{background: url(../img/sprite.png) no-repeat 0 0;}
/* Open Icon */
.open-start{background: url(../img/sprite.png) no-repeat -106px 0;}
/* Share Icon */
.share-start{background: url(../img/sprite.png) no-repeat 0 -106px;}

/* Retina Display Sprites */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (min-device-pixel-ratio: 1.5) {
    .create-start,
    .open-start,
    .share-start{
        /* Reference the @2x Sprite */
        background-image: url(../img/sprite@2x.png);
        /* Translate the @2x sprite's dimensions back to 1x */
        background-size: 298px 421px;
    }
}



/* Footer styles */
footer {
    clear:both;
    float:left;
    width:100%;
    height: 5%;
}
footer p {
    padding:10px;
    margin:0;
    color: white;
}
/* --> */

.shadow{

    -moz-box-shadow:    2px 2px 2px 2px #ccc;
    -webkit-box-shadow: 2px 2px 2px 2px #ccc;
    box-shadow:         2px 2px 2px 2px #ccc;

}
